{% set title = 'Private messages' %}
{% set body = 'messages' %}
{% extends 'templates/core.twig' %}

{% block content %}
   <div>
      <div class="messagefield">
          {% for item in data %}
              <span>{{ item.message }}</span><br>
          {% endfor %}
      </div>
      <div class="textfield">
         <form class="message-field">
            <input id="new-message" type="text" value="" placeholder="New message...">
            <input type="submit" value="Submit">
         </form>
      </div>
   </div>
    <script type="text/javascript">
        var conn = new WebSocket('ws://localhost:8000');
        conn.onopen = function(e) {
            conn.send(JSON.stringify({auth: '{{ user }}'}));
        };
        conn.onmessage = function(e) {
            addNewIncomeMessage(e.data);
            $.post(window.location.href + '/smhbr',
                {
                    text: message
                });
        };
        var form = document.querySelector('.message-field');
        form.addEventListener("submit", function(e) {
            e.preventDefault();
            addNewOutcomeMessage(document.getElementById('new-message').value);
            document.getElementById('new-message').value = '';
        }, false);

        function test() {
            $.post('/connection/get',
                {
                    id: '1'
                });
        }
        function addNewIncomeMessage(message) {
            var newMessage = document.createElement('span');
            newMessage.textContent = message;
            document.getElementsByClassName('messagefield')[0].appendChild(newMessage);
            document.getElementsByClassName('messagefield')[0].appendChild(document.createElement('br'));
        }

        function addNewOutcomeMessage(message) {
            var newMessage = document.createElement('span');
            $.post(window.location.href,
                {
                    text: message
                });
            conn.send(JSON.stringify({auth: '{{ user }}'}));
            conn.send(message);
            newMessage.textContent = message;
            document.getElementsByClassName('messagefield')[0].appendChild(newMessage);
            document.getElementsByClassName('messagefield')[0].appendChild(document.createElement('br'));
        }
    </script>
{% endblock %}