{% set title = 'Private messages' %}
{% set body = 'messages' %}
{% extends 'templates/core.twig' %}

{% block content %}
   <div>
      <div class="messagefield">
         <span>Message1</span><br>
      </div>
      <div class="textfield">
         <form class="message-field">
            <input id="new-message" type="text" value="" placeholder="New message...">
            <input type="submit" value="Submit">
         </form>
      </div>
   </div>
    <script type="text/javascript">
        var conn = new WebSocket('ws://localhost:8000');
        conn.onopen = function(e) {
            console.log("Connection established!");
        };
        conn.onmessage = function(e) {
            addNewIncomeMessage(e.data);
        };
        var form = document.querySelector('.message-field');
        form.addEventListener("submit", function(e) {
            e.preventDefault();
            addNewOutcomeMessage(document.getElementById('new-message').value);
            document.getElementById('new-message').value = '';
        }, false);

        function addNewIncomeMessage(message) {
            var newMessage = document.createElement('span');
            newMessage.textContent = message;
            document.getElementsByClassName('messagefield')[0].appendChild(newMessage);
            document.getElementsByClassName('messagefield')[0].appendChild(document.createElement('br'));
        }

        function addNewOutcomeMessage(message) {
            var newMessage = document.createElement('span');
            conn.send(message);
            newMessage.textContent = message;
            document.getElementsByClassName('messagefield')[0].appendChild(newMessage);
            document.getElementsByClassName('messagefield')[0].appendChild(document.createElement('br'));
        }
    </script>
{% endblock %}