@import "fonts"
@import "vars"
@import "libs"

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

*::-webkit-input-placeholder
  color: #666
  opacity: 1

*:-moz-placeholder
  color: #666
  opacity: 1

*::-moz-placeholder
  color: #666
  opacity: 1

*:-ms-input-placeholder
  color: #666
  opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: #666

body input:required:valid,
body textarea:required:valid
  color: #666

html
  height: 100%
  background-color: #E5E5E5

body
  position: relative
  min-width: 320px
  overflow-x: hidden
  opacity: 1
  min-height: 100%

footer
  //position: fixed
  width: 100%
  z-index: 1

.container
  max-width: 700px

.profile-info
  display: flex
  justify-content: space-between
  line-height: 24px

  li
    display: flex
    align-items: center
    text-transform: capitalize

.main
  margin-left: auto
  margin-right: auto
  max-width: 700px

.main-raised-bottom
  margin: 30px auto

.gallery
  display: flex
  flex-wrap: wrap
  align-items: baseline

.profile-page .gallery img
  margin: 0
  max-width: 33.33%
  height: auto

.interests
  padding-top: 30px
  display: flex
  justify-content: center

.profile-page .profile
  text-align: start

.profile-page .description
  margin: 30px 0

.profile-content
  padding-bottom: 30px

.alert
  position: absolute
  top: 70px
  left: 0
  margin-bottom: 0
  z-index: 99
  width: 100%

.navbar-brand
  font-family: "Roboto Slab", "Times New Roman", serif
  font-size: 18px
  font-weight: 700

.bootstrap-tagsinput
  background-image: none
  padding: 0

.dropzone
  position: relative
  margin-top: 40px
  border: 2px dashed #9c27b0
  border-radius: 5px
  background: white

.dropzone .dz-preview .dz-image
  max-width: 105px
  max-height: 105px

.dropzone .dz-preview .dz-image img
  cursor: pointer

.dropzone .dz-details
  display: none

.dropzone .dz-message
  margin: 0 auto
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.choose
  opacity: 0

.card .card-image
  height: auto

.card .footer
  margin: 0 0 15px 0

.search-nearby
  margin-top: 30px
  display: flex
  flex-wrap: wrap
  justify-content: space-between

.content
  height: 100%
  padding-top: 70px
  padding-bottom: 84px
  margin-bottom: -84px

.modal-backdrop
  z-index: 1040

.modal
  z-index: 1050

.follow
  display: flex

.main-chat
  margin-top: 30px
  padding: 15px

.message
  clear: both
  background-color: rgba(0, 202, 227, .15)
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  padding: 7px 15px
  margin: 5px 0

.btn-send
  background-color: transparent
  padding: 0
  border: none

//.messagefield
//  width: auto
//
//// Всегда в конце
//.row.row-broken
//  padding-bottom: 0
//
//.col-inside-lg
//  padding: 20px

//
//  CHAT
//
.chat
  margin-top: 30px
  position: relative
  height: calc(100vh - 70px - 100px - 60px)
  background-color: #ffffff

.decor-default
  background-color: #ffffff

.chat-users h6
  font-size: 20px
  margin: 0 0 20px

.placeholder
  clear: both
  display: flex
  align-items: center
  justify-content: space-around

.chat-users .user
  position: relative
  padding: 10px 0 10px 50px
  display: block
  cursor: pointer
  border-bottom: 1px solid #ebebeb

.chat-users a .user
  color: #3C4858

.chat-users .user .avatar
  left: 0

.chat .user .time
  font-size: 13px
  position: absolute
  right: 0

.chat .avatar
  width: 40px
  height: 40px
  position: absolute

.chat .avatar img
  display: block
  border-radius: 20px
  height: 100%

.chat .avatar .status.off
  border: 1px solid #5a5a5a
  background: #ffffff

.chat .avatar .status.online
  background: #4caf50

.chat .avatar .status.busy
  background: #ffc107

.chat .avatar .status.offline
  background: #ed4e6e

.chat-users .user .status
  bottom: 0
  left: 28px

.chat .avatar .status
  width: 10px
  height: 10px
  border-radius: 5px
  position: absolute

.chat-users .user .name
  width: 80%
  font-size: 14px
  font-weight: bold
  line-height: 20px
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.chat-users .user .mood
  width: 80%
  font: 200 14px/20px "Raleway", sans-serif
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

/*****************CHAT BODY *******************/
.chat-body
  height: calc(100vh - 70px - 60px - 85px)

.chat-body h6
  font-size: 20px
  margin: 0 0 20px

.chat-body .answer.left
  padding: 0 0 0 58px
  text-align: left
  float: left

.chat-body .answer
  position: relative
  max-width: 600px
  overflow: hidden
  clear: both

.chat-body .answer.left .avatar
  left: 0

.chat-body .answer .avatar
  bottom: 36px

.chat .avatar
  width: 40px
  height: 40px
  position: absolute

.chat .avatar img
  display: block
  border-radius: 20px
  height: 100%

.chat-body .answer .name
  font-size: 14px
  line-height: 36px

.chat-body .answer.left .avatar .status
  right: 4px

.chat-body .answer .avatar .status
  bottom: 0

.chat-body .answer.left .text
  background: #ebebeb
  color: #333333
  border-radius: 8px 8px 8px 0

.chat-body .answer .text
  padding: 12px
  font-size: 14px
  line-height: 26px
  position: relative

.chat-body .answer.left .text:before
  left: -30px
  border-right-color: #ebebeb
  border-right-width: 12px

.chat-body .answer .text:before
  content: ''
  display: block
  position: absolute
  bottom: 0
  border: 18px solid transparent
  border-bottom-width: 0

.chat-body .answer.left .time
  padding-left: 12px
  color: #333333

.chat-body .answer .time
  font-size: 12px
  line-height: 36px
  position: relative
  padding-bottom: 1px

/*RIGHT*/
.chat-body .answer.right
  padding: 0 58px 0 0
  text-align: right
  float: right

.chat-body .answer.right .avatar
  right: 0

.chat-body .answer.right .avatar .status
  left: 4px

.chat-body .answer.right .text
  background: #7266ba
  color: #ffffff
  border-radius: 8px 8px 0 8px

.chat-body .answer.right .text:before
  right: -30px
  border-left-color: #7266ba
  border-left-width: 12px

.chat-body .answer.right .time
  padding-right: 12px
  color: #333333

/**************ADD FORM ***************/
.answer-add
  border-top: 1px solid #ebebeb
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  padding: 20px

.answer-add input
  border: none
  background: none
  display: block
  width: 100%
  font-size: 16px
  line-height: 20px
  padding: 0

.chat input
  -webkit-appearance: none
  border-radius: 0

.answer-add .answer-btn-1
  background: url("http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/icon-40.png") 50% 50% no-repeat
  right: 56px

.answer-add .answer-btn
  border: none
  background: transparent
  display: block
  cursor: pointer
  position: absolute
  margin-top: -24px

.answer-add .answer-btn-2
  right: 20px

//.chat input::-webkit-input-placeholder
//	color: #000
//
//
//.chat input:-moz-placeholder  /* Firefox 18- */
//   color: #000
//
//
//.chat input::-moz-placeholder   /* Firefox 19+ */
//   color: #000
//
//
//.chat input:-ms-input-placeholder
//	color: #000

.chat input
  -webkit-appearance: none
  border-radius: 0

//NAV
.navbar-right
  display: flex
  justify-content: space-between
  list-style: none

.navbar-fixed-top ul > li
  display: block
  height: 50px
  box-sizing: border-box

.notification
  display: flex
  justify-content: space-between
  align-items: center
  padding: 15px 25px
  border-top: 1px solid #ebebeb
  &:first-child
    border: none
  img
    height: 40px
    margin-right: 15px
  p
    margin: 0

.notification-info
  display: flex
  align-items: center

.profile .avatar
  transform: translate(0, -50%)
  img
    transform: none
  .profile-photo-uploader
    width: 160px
    height: 100%
    position: absolute
    overflow: hidden
    left: 50%
    top: 0
    transform: translate(-50%)
    display: flex
    align-items: center
    justify-content: center
    button
      transition: .3s
      opacity: 0
    &:hover
      button
        opacity: 1

.profile-photo-uploader input[type=file]
  width: 100%
  height: 100%
  position: absolute
  top: 50%
  left: 0
  transform: translate(0, -50%)
  opacity: 0
  cursor: pointer

.profile-page .profile img
  transform: none
  max-width: none

.profile .avatar
  max-width: 160px
  margin: 0 auto

.edit-photo
  position: relative
  width: 33.33333%
  overflow: hidden
  img
    transition: 0.5s
  &:hover img
    opacity: .75
    transform: scale3d(1.05, 1.05, 1)
  &:hover button
    opacity: 1
  button
    transition: all 0.25s linear
    opacity: 0
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
.photos
  display: flex
  flex-wrap: wrap
  justify-content: flex-start
  //.edit-photo
  //  &:last-child
  //    align-self: flex-start
@-webkit-keyframes animate-circle
  from
    -webkit-transform: scale(0)
    transform: scale(0)
    opacity: 1

  to
    -webkit-transform: scale(1)
    transform: scale(1)
    opacity: 0



@keyframes animate-circle
  from
    -webkit-transform: scale(0)
    transform: scale(0)
    opacity: 1

  to
    -webkit-transform: scale(1)
    transform: scale(1)
    opacity: 0

.loader-fade
  z-index: 9999
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: #fff
  opacity: 0

.loader
  z-index: 10000
  --size: 10rem

  position: fixed
  top: 50%
  left: 50%
  height: var(--size)
  width: var(--size)
  -webkit-transform: translateX(-50%) translateY(-50%)
  transform: translateX(-50%) translateY(-50%)


.loader > .circle 
  --duration: 2s

  position: absolute
  height: inherit
  width: inherit
  background: #e91e63
  border-radius: 50%
  -webkit-animation: animate-circle var(--duration) cubic-bezier(0.9, 0.24, 0.62, 0.79) infinite
  animation: animate-circle var(--duration) cubic-bezier(0.9, 0.24, 0.62, 0.79) infinite


.loader > .circle:nth-of-type(1) 
  -webkit-animation-delay: 0
  animation-delay: 0


.loader > .circle:nth-of-type(2) 
  -webkit-animation-delay: calc(var(--duration) / -3)
  animation-delay: calc(var(--duration) / -3)


.loader > .circle:nth-of-type(3) 
  -webkit-animation-delay: calc(var(--duration) / -6)
  animation-delay: calc(var(--duration) / -6)



@import "media"
// Всегда в конце
