{% set title = 'Upload photos' %}
{% set body = 'signup-page' %}
{% extends 'templates/core.twig' %}
{% block content %}
<div class="page-header header-filter"
     style="background-image: url('{{ base_url() }}/img/index.png'); background-size: cover; background-position: top center;">
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="card card-signup">
                    <h2 class="card-title text-center">Upload photos</h2>
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <div id="dropzone">
                                <form id="upload-widget" class="dropzone" method="post" action="{{ path_for('photo.upload') }}">
                                    <input name="profile-photo" type="hidden" id="profile-photo" value="">
                                <p class="text-center text-rose choose">Choose profile picture!</p>
                                    <div class="dropzone-previews"></div>
                                    <div class="fallback">
                                        <input name="file" type="file"/>
                                    </div>
                                    {{ csrf.field | raw }}
                                </form>
                                    <small class="max"><span class="pull-right">Max 5 photos</span></small>
                            </div>

                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-round btn-lg btn-primary" type="submit" id="btn">Upload</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script src="/libs/dropzone/dropzone.js"></script>

    <script>
//        window.onload = function () {
            Dropzone.options.uploadWidget = {
                autoProcessQueue: false,
                uploadMultiple: true,
                parallelUploads: 5,
                maxFiles: 5,
                paramName: 'files',
                acceptedFiles: 'image/png, image/jpeg',
                dictDefaultMessage: 'Click or drop files here to upload',
                clickable: true,
                init: function () {
                    var myDropzone = this;
                    document.querySelector("button[type=submit]").addEventListener("click", function (e) {
                        if ($('#profile-photo').val() !== "") {
                            e.preventDefault();
                            e.stopPropagation();
                            myDropzone.processQueue();
                        } else {
                            $('.page-header').after("<div class=\"alert alert-info\">\n" +
                                "    <div class=\"container\">\n" +
                                "    <div class=\"alert-icon\">\n" +
                                "    <i class=\"material-icons\">info_outline</i>\n" +
                                "    </div>\n" +
                                "    <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\">\n" +
                                "    <span aria-hidden=\"true\"><i class=\"material-icons\">clear</i></span>\n" +
                                "</button>\n" +
                                "\n" +
                                "<b>Info:</b> Choose your profile photo\n" +
                                "</div>\n" +
                                "</div>");
                        }
                    });
                    this.on("sendingmultiple", function () {
                    });
                    this.on("successmultiple", function (files, response) {
                         window.location.href = '/';
                    });
                    this.on("errormultiple", function (files, response) {
                    });
                    this.on("addedfile", function (file) {
                        if (this.files.length > 0) {
                            $('.choose').css('opacity', 1)
                        }
                        file.previewElement.querySelector('.dz-progress').style.opacity = 0
                        file.previewElement.addEventListener('click', function () {
                            // console.log(this);
                            if (!this.classList.contains('dz-error')) {
                                $('.dz-success-mark').css('opacity', 0)
                                $('.choose').hide()
                                file.previewElement.querySelector('.dz-success-mark').style.opacity = 1
                                // this.classList.add('choose');
                                $('#profile-photo').val($(this).find('img').attr('alt'));
                            }
                        })
                    });
                }
            };
//        }
    </script>
{% endblock %}