{% set title = 'Error' %}
{% extends 'templates/core.twig' %}

{% block content %}
    <div class="page-header header-filter"
         style="background-image: url('{{ base_url() }}/img/index.png'); background-size: cover; background-position: top center;">
        <div class="container">
            <h1>404 NOT FOUND!</h1>
        </div>
    </div>
{% endblock %}