{% if flash.getMessage('info') %}
    <div class="alert alert-flash alert-info">
        <div class="container">
            <div class="alert-icon">
                <i class="material-icons">info_outline</i>
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
            </button>

            <b>Info:</b> {{ flash.getMessage('info') | first }}
        </div>
    </div>
{% endif %}
{% if flash.getMessage('success') %}
    <div class="alert alert-flash alert-success">
        <div class="container">
            <div class="alert-icon">
                <i class="material-icons">check</i>
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
            </button>
            <b>Success:</b> {{ flash.getMessage('success') | first }}
        </div>
    </div>
{% endif %}
{% if flash.getMessage('warning') %}
    <div class="alert alert-flash alert-warning">
        <div class="container">
            <div class="alert-icon">
                <i class="material-icons">warning</i>
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
            </button>
            <b>Warning:</b> {{ flash.getMessage('warning') | first }}
        </div>
    </div>
{% endif %}
{% if flash.getMessage('error') %}
    <div class="alert alert-flash alert-danger">
        <div class="container">
            <div class="alert-icon">
                <i class="material-icons">error_outline</i>
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
            </button>
            <b>Error:</b> {{ flash.getMessage('error') | first }}
        </div>
    </div>
{% endif %}