<footer class="footer footer-black">
    <div class="container">
        <nav class="pull-left">
            <ul>
                <li><a href="{{ base_url() }}">Home</a></li>
                <li><a href="{{ base_url() }}/terms">Terms and Conditions</a></li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            © made with <i class="material-icons">favorite</i> by <a href="//profile.intra.42.fr/users/arodiono">arodiono</a> &
            <a href="//profile.intra.42.fr/users/oklymeno">oklymeno</a>
        </div>
    </div>
</footer>