{% extends 'templates/core.twig' %}
{% set title = 'Notifications' %}
{% set body = 'profile-page' %}

{% block content %}
    <div class="main main-raised">
        <div class="content">
            <div class="container">
                {% for visit in visits %}
                    <p>{{ visit.who.first_name }} visit your page at {{ visit.created_at | date() }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}