<div class="modal fade" id="ChangePasswordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                    </button>
                    <h3 class="modal-title card-title text-center" id="myModalLabel">Change password</h3>
                </div>
                <div class="modal-body">
                    <div class="col-md-8 col-md-offset-2">
                        <form class="form" method="post" action="{{ path_for('user.password.change') }}">
                            <div class="card-content">
                                <div class="form-group label-floating">
                                    <label class="control-label">Current password</label>
                                    <input name="current_password" type="password" class="form-control">
                                </div>
                                <div class="form-group label-floating">
                                    <label class="control-label">New password</label>
                                    <input name="new_password" type="password" class="form-control">
                                </div>
                                {{ csrf.field | raw }}
                            </div>
                            <div class="modal-footer text-center">
                                <button type="submit" class="btn btn-primary btn-round">Change password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>