<footer class="footer">
    <div class="container">
        <nav class="pull-left">
            <ul>
                <li><a href="{{ base_url() }}/">Home</a></li>
                <li><a href="#">link</a></li>
                <li><a href="#">link</a></li>
                <li><a href="{{ base_url() }}/terms">Terms and Conditions</a></li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            © 2017, made with <i class="material-icons">favorite</i> by arodiono
        </div>
    </div>
</footer>