<nav class="navbar navbar-default navbar-fixed-top" id="sectionsNav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Matcha</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#"><i class="material-icons">notifications</i> Notifications</a>
                </li>
                <li>
                    <a href="#"><i class="material-icons">chat</i> Messages</a>
                </li>
                <li>
                    <a href="#"><i class="material-icons">search</i> Search</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="material-icons">account_box</i> Account
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu dropdown-with-icons">
                        <li>
                            <a href="#"><i class="material-icons">account_box</i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="material-icons">settings</i> Settings</a>
                        </li>
                        <li>
                            <a href="#"><i class="material-icons">exit_to_app</i> Log out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>